body {
	background: url(https://images.unsplash.com/photo-1424847651672-bf20a4b0982b?ixlib=rb-0.3.5&q=80&fm=jpg) no-repeat;
	background-size: cover;
}

h1 { 
	font-family: 'Arvo',sans-serif;
	color: rgba(255,255,255,0.9);
	font-size: 70px;
	text-align: center;
	margin: 200px auto -100px auto;
 }

p {
	font-size: 16px;
}

.menu{
  width: 640px;
  margin: 10% auto; padding: 15px;    
  list-style: none;
  counter-reset: li;
  background: rgba(238,238,238,0.4);
  box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
  border-radius: 10px;
}

.menu:before,
.menu:after {
  content: "";
  display: table;
}

.menu:after {
  clear: both;
}

.menu {
  zoom:1;
}

.menu li {
  position: relative;
  float: left;
  cursor: pointer;
  height: 120px; width: 200px;
  margin: 10px 0 0 10px;
  color: #fff;
} 

.menu li:hover, .menu li:focus{
  background-image: linear-gradient(top, rgba(255,255,255,.2), rgba(255,255,255,0));
}

.menu .cover{
  z-index: 2;
}

.menu .cover:focus{
  outline: 0;
}

/* -------------------------------- */

.menu li::after{
  content: counter(li);
  counter-increment: li;
  font: bold 10px 'Arvo', serif;
  position: absolute;
  color: rgba(255,255,255,.1);
  opacity: 0;
  transition: all .2s ease-out;    
}      

.menu li:hover::after, .menu li:focus::after{
  font-size: 100px;
  opacity: 1; 
}

.menu .cover::after{
  z-index: -1;
}

.menu li:nth-child(1),
.menu li:nth-child(2),
.menu li:nth-child(3), {
	margin-top: 0;
}

.menu li:nth-child(1),
.menu li:nth-child(4),
.menu li:nth-child(7), {
	margin-left: 0;
}

.menu li:nth-child(1),
.menu li:nth-child(1) .content,
.menu li:nth-child(1) .close {
	background: #482224; 
}

.menu li:nth-child(2),
.menu li:nth-child(2) .content,
.menu li:nth-child(2) .close {
	background: #838D8F; 
}

.menu li:nth-child(3),
.menu li:nth-child(3) .content,
.menu li:nth-child(3) .close{
  background-color: #9EB384;   
}

.menu li:nth-child(4),
.menu li:nth-child(4) .content,
.menu li:nth-child(4) .close{
  background-color: #CEA838;      
}

.menu li:nth-child(5),
.menu li:nth-child(5) .content,
.menu li:nth-child(5) .close{
  background-color: #9E3513;
}

.menu li:nth-child(6),
.menu li:nth-child(6) .content,
.menu li:nth-child(6) .close{
  background-color: #DCA662;
}

.menu li:nth-child(7),
.menu li:nth-child(7) .content,
.menu li:nth-child(7) .close{
  background-color: #D38D22;     
}

.menu li:nth-child(8),
.menu li:nth-child(8) .content,
.menu li:nth-child(8) .close{
  background-color: #764119;
}

.menu li:nth-child(9),
.menu li:nth-child(9) .content,
.menu li:nth-child(9) .close{
  background-color: #963B37;
}

.menu .content {
	opacity: 0;
	display: none\9;
	overflow: hidden;
	font: 12px 'open sans', helvetica;
	position: absolute;
	height: 120px;
	width: 200px;
	transition: all .3s ease-out;
}

.menu .expanded {
	opacity: .95;
	display: block\9;
	overflow: visible;
	padding: 40px;
	height: 300px;
	width: 540px;
}

.menu li:nth-child(3n) .content {
	right: 0;
}

.menu li:nth-child(3n-1) .expanded {
	left: 50%;
  	margin-left: -310px;
}

.menu li:nth-child(7) .content,
.menu li:nth-child(8) .content,
.menu li:nth-child(9) .content {
	bottom: 0;
}

.menu li:nth-child(4) .expanded,
.menu li:nth-child(5) .expanded,
.menu li:nth-child(6) .expanded {
	margin-top: -190px;
	top: 50%;
}

.menu .title {
	position: absolute;
	height: 100%;
	width: 100%;
	text-align: center;
	font: bold 1em/120px 'open sans', helvetica;
	opacity: .2;
}

.menu li:hover .title {
	opacity: .7;
}

.menu .close {
	display: none;
	border: 5px solid #fff;
	color: #fff;
	cursor: pointer;
	height: 40px;
	width: 40px;
	font: bold 20px/40px 'open sans', helvetica;
	position: absolute;
	text-align: center;
	top: -20px;
	right: -20px;
	border-radius: 40px;
}

.menu .cover .close {
	display:block;
}